@charset "UTF-8";
/* CSS Document for A4 */
h1, h2, h3,a{
	font-weight: normal;
}

h1{
	font-family: Georgia, Times, serif;
	font-size: 250%;
	text-shadow:2px 2px #666666;
	background-color: #CC4A14;

}

h2{
	font-family: Gill Sans, Arial, sans-serif;
	font-size: 90%;
	text-transform: uppercase;
	color:#99583D;
}

h3{
	font-size: 150%;
	color:#99583D;
}

p{
	font-family: Arial, Verdana, sans-serif;
	line-height: 1.4em;
}

#intro{
	font-weight: bold;
}

#credits{
	font-style: italic;
	text-align: right;
	color: #99583D;
}

a{
	text-decoration: none;
	color: #54CC14;
}

a:hover{
	text-decoration: underline;
}
